@import "config";
@import "utilities";
* {
  font-family: "Lora", "freight-sans-pro", "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Dosis", "Montserrat", sans-serif;
  margin: 0;
  line-height: 1.6;
  letter-spacing: 1.2;
}

a {
  text-decoration: none;
  color: $light-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

//logo
#logo {
  height: 70px;
  width: 70px;
  text-transform: uppercase;
  color: $light-color;
  padding: 0;
}

//main nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  overflow: hidden;
  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    padding: 1rem 1.5rem;

    a {
      border-bottom: 3px transparent solid;
      padding-bottom: 0.5rem;
      transition: all 0.5s;
      font-weight: 600;
      &:hover {
        border-color: $main-color;
      }
      &.current {
        border-color: $main-color;
      }
    }
  }
}

//header
#header-home {
  background: $bg-image no-repeat bottom center / cover;
  //   background-size: 100%;
  height: 100vh;
  //   color: $light-color;
}
.header-main {
  display: grid;
  grid-template-areas: "social headercontent";
  grid-template-columns: 1fr 20fr;
  grid-auto-rows: auto;
  padding-top: 11%;
  justify-content: space-between;
}
.header-socialmedia {
  margin-right: 1rem;
  grid-area: social;
  display: flex;

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.header-content {
  grid-area: headercontent;
  color: $light-color;
  text-align: center;
  justify-self: center;

  h1 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding-bottom: 1.2rem;
    letter-spacing: 2px;
  }
  p {
    line-height: 1.7rem;
    font-size: 1.1rem;
  }
  a {
    font-size: 1.2rem;
    transform: translateX(-3rem);
  }
}

// footer

.Footer-content {
  background: #111;
  color: $light-color;
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  margin: 0;
  font-size: 0.8rem;
}

// media queries

@media (max-width: 370px) {
  * {
    font-size: 0.8rem;
  }
  .header-content {
    a {
      font-size: 0.9rem;
      transform: translateX(-1rem);
    }
  }
  #main-nav {
    li {
      padding: 1rem 0rem;
    }
  }
}

@media (max-width: 768px) {
  .header-content {
    h1 {
      font-size: 1.6rem;
    }
    p {
      font-size: 1rem;
    }
    a {
      font-size: 1rem;
    }
  }
}

@media (max-width: 580px) {
  * {
    font-size: 0.9rem;
  }
  .header-main {
    padding-top: 17%;
  }
  .header-content {
    h1 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.1rem;
    }
    a {
      font-size: 1.1rem;
      transform: translateX(-2rem);
    }
  }
  #main-nav {
    li {
      padding: 1rem 0.5rem;
    }
  }
}

@media (min-width: 1224px) {
  .header-main {
    padding-top: 7%;
  }
}
